.team-main-container {
  display: flex;
  width: 720px;
  justify-content: space-evenly;
}

.team-box {
  width: 160px;
  background-color: #191F2B;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #191F2B;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-header {
  margin-bottom: 8px;
}

section.input-container {
  display: flex;
  gap: 0px 10px;
  flex-wrap: wrap;
}

input.team-input {
  width: 40%;
  height: 24px;
  margin-top: 12px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}
div.team-input {
  width: 72px;
  height: 30px;
  margin-top: 12px;
  border-radius: 8px;
  font-weight: bold;
  background-color: white;
  font-size: 16px;
  color: black;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}